python -> 3.6.3
Ubuntu 16.04
anaconda -> 5.0.1
theano -> 1.0.1
tensorfow -> 1.4
keras backend in theano -> 2.0.9
numpy -> 1.13.3
nilearn -> 0.4.0
pytables -> 3.4.2
nibabel -> 2.2.1
Nipype -> 1.0.0
SimpleITK -> (última versión)

